<%# Processes and Toolings section %>
<div class="card mb-4">
  <div class="card-body">
    <div class="row g-4">
      <%# Manufacturing Processes %>
      <div class="col-12 col-lg-6">
        <h5 class="mb-3">Procesos de Manufactura</h5>
        <%= render 'manufacturing_processes', form: form %>
      </div>

      <%# Toolings %>
      <div class="col-12 col-lg-6">
        <h5 class="mb-3">Herramentales</h5>
        <%= render 'toolings', form: form %>
      </div>
    </div>
  </div>
</div> 