<tr data-new-process="true">
  <td>
    <%= f.hidden_field :manufacturing_process_id %>
    <span class="process-name"><%= f.object.manufacturing_process.name %></span> -
    <span class="process-description"><%= f.object.manufacturing_process.description %></span>
  </td>
  <td>
    <%= link_to_remove_association "Eliminar", f, class: "btn btn-danger" %>
  </td>
  <td>
    <span class="process-price-total">0</span>
  </td>
</tr>