<div class="nested-fields">
  <div class="form-group">
    <%= f.label :tooling_id, "Herramental:" %>
    <div class="input-group">
      <%= f.collection_select :tooling_id, Tooling.all, :id, :description,
                              { include_blank: 'Select one' },
                              { class: "form-control", 
                                'data-action': 'change->quotes#showToolingDetails' 
                              } %>
    </div>
  </div>
  <button type="button" class="btn btn-danger" data-action="click->quotes#removeField">Eliminar</button>   
</div>
