<div class="nested-fields"> 
  <div class="form-group">
    <%= form.label :tooling_id, "Herramental:" %>
    <%= form.collection_select :tooling_id, Tooling.all, :id, :description, {}, class: "form-control" %>
  </div>
  <%= link_to_remove_association "Eliminar", form, class: "btn btn-danger" %> 
</div>