<div id="<%= dom_id general_configuration %>">
  <p>
    <strong>Description:</strong>
    <%= general_configuration.description %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= general_configuration.amount %>
  </p>

</div>
