<h1>Editing general configuration</h1>

<%= render "form", general_configuration: @general_configuration %>

<br>

<div>
  <%= link_to "Show this general configuration", @general_configuration %> |
  <%= link_to "Back to general configurations", general_configurations_path %>
</div>
