<%= turbo_frame_tag "main-content" do %>
  <div class="container mt-4">
    <h1 class="text-center mb-4">Editar configuración</h1>
    
    <%= form_with(model: @general_configuration, data: { turbo_frame: '_top' }) do |f| %>
      <%= render 'form', form: f %>
    <% end %>
  </div>
<% end %>
