<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="errorModalLabel">Errors Found</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-danger mb-3">Please correct the following errors:</p>
        <ul class="list-unstyled mb-0">
          <% errors.each do |error| %>
            <li class="text-danger mb-2">
              <i class="fas fa-exclamation-circle me-2"></i>
              <%= error %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  (() => {
    // Clean up any existing modal
    const existingModal = document.getElementById('errorModal');
    if (existingModal) {
      const bsModal = bootstrap.Modal.getInstance(existingModal);
      if (bsModal) bsModal.dispose();
      existingModal.remove();
    }

    // Show the new modal
    const modal = new bootstrap.Modal(document.getElementById('errorModal'));
    modal.show();
  })();
</script> 