<%# Flash messages %>
<div id="flash-messages" class="flash-messages-container">
  <% flash.each do |name, msg| %>
    <% unless msg == "Signed in successfully." %>
      <div class="alert alert-<%= name == 'notice' ? 'success' : 'danger' %> alert-dismissible fade show">
        <%= msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  <% end %>
</div>

<%# Dynamic messages container %>
<div id="dynamic-messages"></div> 