<div id="<%= dom_id unit_equivalence %>">
  <p>
    <strong>Unit one:</strong>
    <%= unit_equivalence.unit_one %>
  </p>

  <p>
    <strong>Unit two:</strong>
    <%= unit_equivalence.unit_two %>
  </p>

  <p>
    <strong>Conversion factor:</strong>
    <%= unit_equivalence.conversion_factor %>
  </p>

</div>
