<h1>Editing manufacturing process</h1>

<%= render "form", manufacturing_process: @manufacturing_process %>

<br>

<div>
  <%= link_to "Show this manufacturing process", @manufacturing_process %> |
  <%= link_to "Back to manufacturing processes", manufacturing_processes_path %>
</div>
