<%= turbo_frame_tag "main-content" do %>
  <div class="container mt-4">
    <h1 class="text-center mb-4">Nuevo Proceso</h1>
    <%= render 'form', manufacturing_process: @manufacturing_process %>
  </div>
<% end %>