<div id="<%= dom_id paper %>">
  <p>
    <strong>Description:</strong>
    <%= paper.description %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= paper.size %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= paper.weight %>
  </p>

</div>
