.navbar {
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.divider {
    height: 1px;
    margin: 2px 0; /* Reduced margin */
    border-top: 1px solid black;
  }

  @media (min-width: 992px) {
    .divider {
        height: 45px; 
        margin: 0 5px; /* Reduced margin */
        border-left: 1px solid black; 
        border-top: none; 
    }
}

@media (min-width: 992px) {
    .divider.d-lg-none {
        display: none;
    }
}

.btn-green {
    background-color: #76a835;
    border-color: #76a835; 
    color: white;
}

.large-screen-divider {
    border-left: 1px solid black; 
    margin: 0 20px; /* Adjust as needed */
  }

  .login-form {
    width: 350px; 
    margin: 50px auto; 
    .card {
      border: none; 
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    }
    .form-label {
      font-weight: bold; 
    }
    .shared-links {
      margin-top: 20px;
      text-align: center; 
      a {
        display: block;
        margin-bottom: 5px; 
      }
    }
    h2 { 
        text-align: center; 
        margin-bottom: 20px; 
      }
    
      .actions { 
        text-align: center; 
      }
  }

  .edit-profile-form {
    width: 350px; /* Same width as login form */
    margin: 50px auto;
    .card {
      border: none;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .form-label {
      font-weight: bold;
    }
    .shared-links {
      margin-top: 20px;
      text-align: center;
      a {
        display: block;
        margin-bottom: 5px;
      }
    }
    h2 { /* Style for the Surtibox title */
      text-align: center;
      margin-bottom: 20px;
    }
    .actions { /* Style to center the button */
      text-align: center;
    }
  }

  .customers-index {
    width: 800px; 
    margin: 50px auto;
    .card {
      border: none;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
    #customers {  /* Style for the customer list container */
      text-align: center;  /* Center the content within the div */
    }
    .btn-primary {
      display: block; 
      width: 100%;   
      margin-top: 10px; 
    }
  }

[data-controller="quotes"] table {
  width: 100%;
  border-collapse: collapse;
}

[data-controller="quotes"] th {
  background-color: #f8f9fa;
  text-align: left;
  padding: 8px;
  border: 1px solid #dee2e6;
}

[data-controller="quotes"] tbody td:nth-child(2) {
  text-align: right; 
  padding: 8px;
  border: 1px solid #dee2e6;
}

.col-4 > table td:nth-child(2) { 
  text-align: right; 
}