$surtibox-green: #75A443; 

.btn-green {
  background-color: $surtibox-green;
  border-color: $surtibox-green; 
  color: white;
}

.navbar {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
  border-bottom: 1px solid lightgray;
  height: 60px; /* Set a fixed height for the navbar */
}

body {
  margin: 0;
  padding-top: 60px; /* Add padding equal to navbar height */
}

.scrollable-content {
  height: calc(100vh - 60px); /* Viewport height minus navbar height */
  overflow-y: auto;
  position: fixed;
  top: 60px; /* Position below navbar */
  left: 0;
  right: 0;
  bottom: 0;
}

/* Add this new class for the main content area */
.main-content-area {
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}

.divider {
  border-left: 1px solid black; 
  margin: 0 10px; // Adjusted margin
}

.login-form {
  width: 350px; 
  margin: 50px auto; 
  .card {
    border: none; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }
  .form-label {
    font-weight: bold; 
  }
  .shared-links {
    margin-top: 20px;
    text-align: center; 
    a {
      display: block;
      margin-bottom: 5px; 
    }
  }
  h2 { 
      text-align: center; 
      margin-bottom: 20px; 
    }
  
    .actions { 
      text-align: center; 
    }
  }

.edit-profile-form {
  width: 350px; /* Same width as login form */
  margin: 50px auto;
  .card {
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .form-label {
    font-weight: bold;
  }
  .shared-links {
    margin-top: 20px;
    text-align: center;
    a {
      display: block;
      margin-bottom: 5px;
    }
  }
  h2 { /* Style for the Surtibox title */
    text-align: center;
    margin-bottom: 20px;
  }
  .actions { /* Style to center the button */
    text-align: center;
  }
}

.customers-index {
  width: 800px; 
  margin: 50px auto;
  .card {
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  #customers {  /* Style for the customer list container */
    text-align: center;  /* Center the content within the div */
  }
  .btn-primary {
    display: block; 
    width: 100%;   
    margin-top: 10px; 
  }
}

[data-controller="quotes"] table {
  width: 100%;
  border-collapse: collapse;
}

[data-controller="quotes"] th {
  background-color: #f8f9fa;
  text-align: left;
  padding: 8px;
  border: 1px solid #dee2e6;
}

[data-controller="quotes"] tbody td:nth-child(2) {
  text-align: right; 
  padding: 8px;
  border: 1px solid #dee2e6;
}

.col-4 > table td:nth-child(2) { 
  text-align: right; 
}

.container table {
  display: table;
  width: 100%;
  align-items: initial;
}

.container-wide {
  width: 120%;
  max-width: 1440px;  /* or any other max-width you prefer */
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

[data-bs-toggle="collapse"][aria-expanded="true"] .fa-chevron-down {
  transform: rotate(180deg);
  transition: transform 0.2s ease;
}

[data-bs-toggle="collapse"] .fa-chevron-down {
  transition: transform 0.2s ease;
}

@import 'sweetalert2';
